APP_PORT=8080

TCA_ADMINS="tu@email.com"

DATABASE_URL="sqlite:database/trading-card-album.sqlite3"
DBMATE_MIGRATIONS_DIR="database/migrations"
DBMATE_SCHEMA_FILE="database/schema.sql"

GOOGLE_CLIENT_ID="XXXxxxXXX"
GOOGLE_CLIENT_SECRET="XXXxxxXXX"
GOOGLE_REDIRECT_URL="http://localhost:3000/api/v1/auth/google/callback"

JWT_SECRET="mysupersecretword"